<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" 
rel="stylesheet">
</head>
<body>
    <h1>Receta de Niños envueltos</h1>
    <img src="/public/img/nino.jpg" alt="">
    <p class="descripcion2">Plato característico de la gastronomía de varios países de América Latina, 
        en particular la argentina, chilena, dominicana y uruguaya, 
        con influencia del yaprak de la gastronomía árabe.</p>
    <br>
    <p class="pninos">Ingredientes:</p>
    <ul class="ul1">
        <li>Repollo</li>
        <li>Carne picada</li>
        <li>Limón</li>
        <li>Cebolla</li>
        <li>Arroz blanco</li>
    </ul>
    <p class="pninos">Preparación:</p>
    <ol class="ol1">
        <li>Mezclar el arroz crudo con la carne y cebolla picadas</li>
        <li>Separar cada hoja de repollo y envolver bolitas de la carne del paso anterior</li>
        <li>Hervir en agua y jugo de limón</li>
        <li>Servir y disfrutar!</li>
    </ol>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yn5BVmwSFHw?si=llP2AsOmYbcjsWDQ" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen></iframe>
</body>
</html>