<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" 
rel="stylesheet">
</head>
<body>
    <h1>Receta de Panqueques rellenos con dulce de leche</h1>
    <img src="/public/img/panque.jpg" alt="">
    <p class="descripcion3">Receta clásica ideal para postre, merienda o antojo dulce!</p>
    <br>
    <p class="ppan">Ingredientes:</p>
    <ul class="ul2">
        <li>Huevos</li>
        <li>Harina leudante</li>
        <li>Manteca</li>
        <li>Leche</li>
        <li>Azúcar</li>
        <li>Dulce de leche</li>
    </ul>
    <p class="ppan">Preparación:</p>
    <ol class="ol2">
        <li>Mezclar la leche y los huevos</li>
        <li>Agregar azúcar y la harina en forma de lluvia</li>
        <li>Dejar reposar 20 minutos</li>
        <li>Colocá la mezcla de los panqueques por cucharones en la sartén hasta que se doren</li>
        <li>Por último agrega el dulce de leche y enrollalos</li>
        <li>Ahora si a disfrutar!</li>
    </ol>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dsmnjacMlw0?si=KEXI4IsYSa8P7gie" 
    title="YouTube video player" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" 
    allowfullscreen></iframe>
</body>
</html>